<div class="addexpenseWholeContainer" id="containerBalance">
    <div id="delete_div">
        <h2>Add Balance</h2>
        <input type="number" id="addBalanceInput" min="1" placeholder='Add income'autofocus/>
        <p class="errorMsgAdd">Can't be Empty</p>
        <div class="delete_button_div">
            <button type="button" onclick="addBalanceHide()">Cancel</button>
            <button type="button" id="delete_button" onclick="addBalance(this)" name="id" value="">Add income</button>
        </div>
    </div>
</div>