<div class="addexpenseWholeContainer" id="containerDelete">
    <div id="delete_div">
        <h2>Confirm Deletion</h2>
        <p>Are you sure you want to delete expense ? </p>
        <div class="delete_button_div">
            <button type="button" onclick="hideDelete()">Cancel</button>
            <button type="button" id="delete_button" onclick="deleteData(this)" name="id" value="">Delete</button>
        </div>
    </div>
</div>