<link href="Css/index.css" rel="stylesheet" type="text/css"/>

<div id="userRoot">
    <div id="userContainer">
        <div class="imageContainer">
<img src=""/>
        </div>
        <div class="userLoginAndSignIn">
    
        </div>
    </div>
</div>